<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting with a customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>

<body>

<div id="header_3">
    <h1>Create a meeting with a customer {{ name }}</h1>
</div>

<div id="menu-container">
    <a href="/" class="bigger-link">Go back to the customer list</a>
<hr>
</div>

<div id="form-container">
    <form method="POST" action="{{ url_for('new_meeting', id=id) }}" class="form-container">

    <input type="hidden" name="customer_id" value="{{ id }}">

    <div class="form-group">
        <label for="date">Date of the meeting</label>
        <input type="date" name="date" id="date" required>
    </div>    

    <div class="form-group">
        <label for="service_id">Service given</label>
        <select name="service_id" id="service_id" required>
            <option value="" disabled selected>Select a service</option>
            <option value="1">Career Counselling</option>
            <option value="2">Education Counselling</option>
            <option value="3">Digital Tools Counselling</option>
            <option value="4">Other Counselling</option>
        </select>
    </div>

    <div class="form-group">
        <label for="realization_id">Did the meeting happen?</label>
        <select name="realization_id" id="realization_id" required>
            <option value="" disabled selected>Select an option</option>
            <option value="1">Yes, meeting happened</option>
            <option value="2">No, meeting was cancelled</option>
        </select>
    </div>

    <div class="form-group">
        <label for="execution_id">How the meeting took place?</label>
        <select name="execution_id" id="execution_id" required>
            <option value="" disabled selected>Select an option</option>
            <option value="1">Live meeting</option>
            <option value="2">Teams meeting</option>
        </select>
    </div>

    <div class="form-group">
        <label for="customer_path">Describe where did this customer came from</label>
        <input type="text" name="customer_path" id="customer_path" required>
    </div>

    <div class="form-group">
        <label for="notes">Your notes from this meeting</label>
        <input type="text" name="notes" id="notes" required>
    </div>

    <div class="form-group">
        <input type="submit" value="Create and save this meeting">
    </div>

</form>
</div>

</body>
</html>