<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account and get access to the app</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div id="header_1">
    <h1>Create Account</h1>
</div>

<div id="form-container">
    <form method="POST" action="/register" class="form-container">

        <label for="username">Create user name:</label>
        <input type="text" name="username" id="username" required>
        <p>

        <label for="password_1">Create password:</label>
        <input type="password" name="password_1" id="password_1" required>
        <p>

        <label for="password_2">Give the same password again:</label>
        <input type="password" name="password_2" id="password_2" required>
        <p>

        <input type="submit" value="Create Account">

    </form>
</div>

<div id="text">
    If you already have an account, login <a href="/login">from here</a> 
</div>

</body>
</html>